# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#Firebase
/lib/firebase_options.dart

# Android Services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Emulator lock files
*.lock
*.lock.bak
.env*

# --- Cấu hình thiết bị Android cục bộ ---
android/local.properties      # Chứa đường dẫn SDK của riêng máy
android/key.properties        # Chứa mật khẩu ký App
.gradle/                      # Thư mục rác của Gradle

# --- Keystore (File ký app để lên Store) ---
*.jks
*.keystore                    # File định danh ứng dụng Android

# --- Mac OS rác ---
.DS_Store                     # File hệ thống của Mac
**/.DS_Store

# --- Các file log của Firebase ---
*-debug.log                   # Các file ghi lỗi của Firebase
.firebase/                    # Thư mục chứa token đăng nhập Firebase CLI